cat > .gitignore <<EOF
# Entorno virtual
venv/
.env
*.env

.venv/
__pycache__/
*.pyc
.env
instance/


# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log y exportaciones
*.log
*.xlsx

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
EOF
# Ignorar archivos temporales de Drive upload
.tmp.driveupload/


