{% extends "base.html" %}

{% block content %}
<h2 class="text-success">Reporte de Pacientes por Condición</h2>
<a href="{{ url_for('archivo_clinico.index') }}" class="btn btn-secondary">Regresar</a>

 <form method="get" action="{{ url_for('paciente.reporte_condicion') }}" class="mb-3">
  <label for="filtro">Filtrar por condiciones:</label>
  <select name="filtro" id="filtro" class="form-control w-50 d-inline" multiple>
    <option value="Hipertenso" {% if 'Hipertenso' in filtro %}selected{% endif %}>Hipertenso</option>
    <option value="Diabético" {% if 'Diabético' in filtro %}selected{% endif %}>Diabético</option>
    <option value="Metabólico" {% if 'Metabólico' in filtro %}selected{% endif %}>Síndrome Metabólico</option>
    <option value="Embarazada" {% if 'Embarazada' in filtro %}selected{% endif %}>Embarazada</option>
    <option value="Planificación" {% if 'Planificación' in filtro %}selected{% endif %}>Planificación</option>
    <option value="Dislipidemia" {% if 'Dislipidemia' in filtro %}selected{% endif %}>Dislipidemia</option>
    <option value="MujeresEdadReproductiva" {% if 'MujeresEdadReproductiva' in filtro %}selected{% endif %}>Mujeres en Edad Reproductiva</option>
  </select>
 <br>

  <label class="mt-2">
    <input type="checkbox" name="universo_trabajo" value="universo"
      {% if 'universo' in filtro %}checked{% endif %}>
    Universo de trabajo
  </label>

  <br>
  <button type="submit" class="btn btn-success">Buscar</button>
  <button type="submit" name="descargar" value="1" class="btn btn-primary">Descargar</button>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>CURP</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Cronicidad</th>
      <th>Emb</th>
      <th>PF</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pacientes %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.curp }}</td>
      <td>{{ p.edad }}</td>
      <td>{{ p.sexo }}</td>
      <td>{{ p.tipo_cronicidad if p.es_cronico else "-" }}</td>
      <td>{{ "Sí" if p.esta_embarazada else "No" }}</td>
      <td>{{ "Sí" if p.planificacion else "No" }}</td>
      <td>{{  p.direccion  }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8" class="text-center">No se encontraron pacientes con esta condición</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <a href="{{ url_for('paciente.listar_pacientes') }}" class="btn btn-secondary">Cancelar</a>	
{% endblock %}
