{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>Historial de Salidas de Farmacia</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Medicamento</th>
        <th>Cantidad</th>
        <th>Médico</th>
        <th>Folio Receta</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for salida in salidas %}
      <tr>
        <td>{{ salida.id_salida }}</td>
        <td>{{ salida.medicamento.nombre }}</td>
        <td>{{ salida.cantidad }}</td>
        <td>{{ salida.usuario.nombre }}</td>
        <td>{{ salida.folio_receta }}</td>
        <td>{{ salida.fecha_salida.strftime("%d/%m/%Y %H:%M") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
